<!DOCTYPE html>
<html>
<head>
  <title>Silvan Adrian</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home">
<div id="menu">
	<ul>
		<li><%= link_to 'Work', '/' %></li>
		<li><%= link_to "Blog", :controller => "posts", :action => "index" %></li>
	</ul>
</div>
<a href="/">
<div id="logo"></div></a>
<%= yield %>

</div>
</body>
</html>
